{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteBracketNewLine": false,
	"printWidth": 160
}
